<%= form_with(model: person, local: true) do |form| %>
  <% if person.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(person.errors.count, "error") %> prohibited this person from being saved:</h2>

      <ul>
      <% person.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :Identificacion %>
    <%= form.text_field :identification %>
  </div>

  <div class="field">
    <%= form.label :Nombre %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :Apellido %>
    <%= form.text_field :surname %>
  </div>

  <div class="field">
    <%= form.label :Fecha_de_Nacimiento %>
    <%= form.text_field :date_birth %>
  </div>

  <div class="field">
    <%= form.label :Direccion %>
    <%= form.text_area :direction %>
  </div>

  <div class="field">
    <%= form.label :Email %>
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <%= form.label :Telefono %>
    <%= form.text_field :phone %>
  </div>

  <% if current_user.id == 1%>
    <div class="field">
      <%= form.label :Lider %>
      <%= form.collection_select :leader, Person.where("id <> ?", 1), :id, :complete_name, validate: true,:prompt=>"Seleccione"  %>

    </div>

    <div class="field">
      <%= form.label :Servicio %>
      <%= form.select :type_leader, Person::TYPE_LEADER, include_blank:"Seleccione" %>

    </div>

    <div class="field">
      <%= form.label :Nivel %>
      <%= form.select :level_leader, Person::LEVEL, include_blank:"Seleccione" %>
    </div>

    <div class="field">
      <%= form.label :Es_Administrador %>
      <%= form.check_box :is_admin %>
    </div>
  <%else%>
      <%= form.hidden_field :leader, value: current_user.id %>
  <%end%>
    <div>
      <%= form.label :Imagen %>
      <%= form.file_field :image %>
    </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
