<% if current_user.id == 1%>
  <h1>Editar Lider</h1>
<% else %>
  <h1>Editar Discipulo</h1>
<% end %>

<%= render 'form', person: @person %>

<%= link_to 'Show', @person %> |
<%= link_to 'Back', people_path %>
