<p id="notice"><%= notice %></p>

<% if current_user.id == 1%>
  <h1>Lideres</h1>
<% else %>
  <h1>Mis Discipulos</h1>
<% end %>

<div style="float: right;">
  <%= link_to 'Agregar', new_person_path %>
</div>
<table>
  <thead>
    <tr>
      <th></th>
      <th>Identification</th>
      <th>Name</th>
      <th>Surname</th>
      <th>Date birth</th>
      <th>Direction</th>
      <th>Email</th>
      <th>Phone</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @people.each do |person| %>
      <tr>
        <td style="text-align: center;">
          <% if person.image.present? %>
            <%= image_tag(person.image_url, class:'rounded_avatar', :width => 30, :height => 30) %>
          <%else%>
            <%= image_tag('/usuario.png', class:'rounded_avatar', :width => 30, :height => 30) %>
          <%end%>
        </td>
        <td><%= person.identification %></td>
        <td><%= person.name.titleize %></td>
        <td><%= person.surname.titleize %></td>
        <td><%= person.date_birth %></td>
        <td><%= person.direction %></td>
        <td><%= person.email %></td>
        <td><%= person.phone %></td>
        <td><%= link_to 'Show', person %></td>
        <td><%= link_to 'Edit', edit_person_path(person) %></td>
        <td><%= link_to 'Destroy', person, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

