<p id="notice"><%= notice %></p>

<p>
  <strong>Identification:</strong>
  <%= @person.identification %>
</p>

<p>
  <strong>Name:</strong>
  <%= @person.name %>
</p>

<p>
  <strong>Surname:</strong>
  <%= @person.surname %>
</p>

<p>
  <strong>Date birth:</strong>
  <%= @person.date_birth %>
</p>

<p>
  <strong>Direction:</strong>
  <%= @person.direction %>
</p>

<p>
  <strong>Email:</strong>
  <%= @person.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @person.phone %>
</p>


<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
