<%= form_with(model: ministery, local: true) do |form| %>
  <% if ministery.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(ministery.errors.count, "error") %> prohibited this ministery from being saved:</h2>

      <ul>
      <% ministery.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nombre %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :descripcion %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :coordinador %>
    <%= form.collection_select :person_id, Person.where("id <> ?", 1), :id, :complete_name, validate: true,:prompt=>"Seleccione"  %>
  </div>

  <div class="actions">
    <%= form.submit 'Crear Ministerio'%>
  </div>
<% end %>
