<p id="notice"><%= notice %></p>

<h1>Ministerios</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Descripcion</th>
      <th>Coordinador</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ministeries.each do |ministery| %>
      <tr>
        <td><%= ministery.name %></td>
        <td><%= ministery.description %></td>
        <td><%= ministery.person.complete_name.titleize %></td>
        <td><%= link_to 'Show', ministery %></td>
        <td><%= link_to 'Edit', edit_ministery_path(ministery) %></td>
        <td><%= link_to 'Destroy', ministery, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= link_to 'Equipo',"/ministeries/#{ministery.id}/team"%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Agregar', new_ministery_path %>
