<p id="notice"><%= notice %></p>

<h1>Ministerio</h1>

<p>
  <strong>Nombre:</strong>
  <%= @ministery.name %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @ministery.description %>
</p>

<p>
  <strong>Coordinador:</strong>
  <%= @ministery.person.complete_name.titleize %>
</p>

<%= link_to 'Editar', edit_ministery_path(@ministery) %> |
<%= link_to 'Atras', ministeries_path %>
