<%= nested_form_for(@leadership, local: true) do |form| %>
  <% if leadership.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(leadership.errors.count, "error") %> prohibited this leadership from being saved:</h2>

      <ul>
      <% leadership.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <fieldset id="leaders">
    <%= form.fields_for :leaders do |leaders_form| %>
      <div class="field">
        <%= leaders_form.label :person, 'Nombre de lider' %><br>
        <%= leaders_form.text_field :person %>
        <%= leaders_form.collection_select :person, Person.where("id <> ?", 1).leader12, :id, :complete_name, validate: true,:prompt=>"Seleccione"  %>
      </div>
          
    <% end %>
  </fieldset>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
