<p id="notice"><%= notice %></p>

<h1>Leaderships</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @leaderships.each do |leadership| %>
      <tr>
        <td><%= leadership.name %></td>
        <td><%= leadership.status %></td>
        <td><%= link_to 'Show', leadership %></td>
        <td><%= link_to 'Edit', edit_leadership_path(leadership) %></td>
        <td><%= link_to 'Destroy', leadership, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Leadership', new_leadership_path %>
