<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @leadership.name %>
</p>

<p>
  <strong>Status:</strong>
  <%= @leadership.status %>
</p>

<%= link_to 'Edit', edit_leadership_path(@leadership) %> |
<%= link_to 'Back', leaderships_path %>
