<!DOCTYPE html>
<html>
  <head>
    <title>IviluzCrm</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <meta charset="UTF-8">   
  </head>
  <body>
    <% if user_signed_in? %>
      <%= link_to 'Dashboard', '/' %> |
      <%= link_to 'Mis Discipulos', people_path %> |
      <%= link_to 'Liderazgo', leaderships_path %> |
      <%= link_to 'Ministerios', ministeries_path %> |
      <%= link_to 'Calendario', events_path %> |

      <%= link_to 'Edit profile', edit_user_registration_path %> |
      <%= link_to "Logout", destroy_user_session_path, method: :delete %>
    <% else %>
      <%= link_to "Sign up", new_user_registration_path %> |
      <%= link_to "Login", new_user_session_path %>
    <% end %>
    <%= yield %>
  </body>
</html>
